#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}