#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}