#s-994c76f9-29db-4916-87d8-444e6a04cdee #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-994c76f9-29db-4916-87d8-444e6a04cdee #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-994c76f9-29db-4916-87d8-444e6a04cdee #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-994c76f9-29db-4916-87d8-444e6a04cdee #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-994c76f9-29db-4916-87d8-444e6a04cdee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}