#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=42) ;
  filter: alpha(opacity=42) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Rich_text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Rich_text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-caseVideos .s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-caseVideos .s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-caseVideos .s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}