#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=42);
  filter: alpha(opacity=42);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Rich_text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-Rich_text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-caseVideos .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-caseVideos .s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 #s-caseVideos .s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bec90758-6901-497e-ab8b-7f3ea62618c7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}