#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Act_indicator {
  -ms-transform: rotate(0.0deg);
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_128 {
  -ms-transform: rotate(0.0deg);
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}