#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_264 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Ellipse_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_276 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_279 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_271 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_148 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_128 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_304 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_121 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_65 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Ellipse_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_170 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Ellipse_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_184 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Ellipse_23 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_265 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Label_171 {
  -ms-transform: rotate(0.0deg);
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b17dd099-f52c-4ad8-b08a-a96c0ae21ea1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}